.card-body {
  background-color: rgb(218, 218, 218);
  height: 12rem;
}

.card {
  transform: scale(1);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    transform: scale(1.05);
    z-index: 999;
  }
}
