<app-slider></app-slider>

<div class="container col-10 mt-5">
<div class="jumbotron col-12">
  <h3 class="text-right font-italic">"Az élet egy maszk, amin keresztül a mindenség kifejezi önmagát."</h3>
  <h3 class="text-right font-weight-bold">Frank Herbert</h3>
  <!-- <hr class="my-2"> -->
</div>
</div>

<div class="container col-10">
  <div class="row">
    <div class="col-12 p-0">
      <div class="d-flex flex-row flex-wrap">
        <app-mask-card class="col-12 col-md-6 col-xl-3" *ngFor="let mask of masks" [currentMask]="mask"></app-mask-card>
      </div>
    </div>
  </div>
</div>

<footer class="bg-secondary m-0 mt-5 p-0">
  <h3 class="text-uppercase text-center font-weight-bold p-5 m-0">Maszkmester akciók </h3>
</footer>
